@(email: String)


	@main() {
	
		<form class="formoid-solid-dark"
		style="background-color: #FFFFFF; font-size: 14px; font-family: 'Trebuchet MS', 'Roboto', Arial, Helvetica, sans-serif; color: #34495E; max-width: 480px; min-width: 150px"
		method="post">
		<div class="title">
			<h2>Duplicate Email</h2>
		</div>
		<div class="element-input">
			<label class="title">Your email: @email is already on file. If you believe that you have received this message in error
			please <b><a href="/contact">contact admin</a></b>.<label><span><br /></span>

			<a href="/reset/ask">@Messages("forgot.password")</div></a>
			<span><br /></span>
		<!-- This is needed for bottom shadow to appear... -->
		<div></div>
	</form>
	

	
	
	
	
	
	
	}