@(profilesList: java.util.List[Profile])

@main(null) {

	<script src="@routes.Assets.at("js/jquery/jquery-latest.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("js/jquery/jquery.tablesorter.js")" type="text/javascript"></script>
	<link href="@routes.Assets.at("css/tablesort.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		$(document).ready(function() {
			$("#tableAll").tablesorter();
		});
	</script>
	<section id="displayResults" style="padding: 30px;">
		<div class="table-responsive">
		<h5>All Users:</h5>
		<table id="tableAll" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
			<thead>
				<tr>
					<th>Business Name</th>
					<th>Contact</th>
					<th>Services</th>
				</tr>
			</thead>
			<tbody>
				@for(profile <- profilesList) {
				<tr>
					<td><a href="/editprofile/@profile.name">@profile.name</a></td>
					<td><a href="/editprofile/@profile.name">@profile.primaryNameFirst @profile.primaryNameLast</a></td>
					<td><a href="/editprofile/@profile.name">@profile.services</a></td>
				</tr>
				} 
			</tbody>
		</table>
		</div		
	</section>
}