@(profileForm: Form[Application.ProfileRegister], servicesList: java.util.List[Service])

@main(null) {
	<script type="text/javascript">
		$(document).ready(function(){		 
			$('input[name=selectServices]').on('change', function() {
				$('#services').val($('input[name=selectServices]:checked').map(function() {
					return this.value;
				}).get());
			});
		});
	</script>
	<section id="profileMain">
		<form class="formoid-solid-dark"
			style="background-color: #FFFFFF; font-size: 14px; font-family: 'Trebuchet MS','Roboto', Arial, Helvetica, sans-serif; color: #34495E; max-width: 480px; min-width: 150px"
			method="post" action="">
			<div class="title">
				<h2>Business Profile</h2>
			</div>
			<div class="element-input">
				<label class="title"><span class="required">*</span>Business
				Name:</label>
				<div class="item-cont">
					<input class="large" type="text" name="name" required="required"
						placeholder="Business Name..." /><span class="icon-place"></span>
				</div>
			</div>
			<div class="element-address">
				<label class="title"><span class="required">*</span>Business Address:</label><span class="addr1"><input placeholder="Street Address" type="text" name="address" required="required"/><span class="icon-place"></span></span><span class="addr2"><input placeholder="Address Line 2" type="text" name="address1" /><span class="icon-place"></span></span><span class="city"><input placeholder="City" type="text" name="city" /><span class="icon-place"></span></span><span class="state"><input placeholder="State / Province / Region" type="text" name="state" required="required"/><span class="icon-place"></span></span><span class="zip"><input placeholder="Postal / Zip Code" type="text" maxlength="15" name="zip" required="required"/><span class="icon-place"></span></span><div class="country">
					<select name="country" required="required">
						<option value="" disabled="disabled">--- Select a country ---</option>
						<option selected="selected" value="United States">United States</option>
						<option value="Canada">Canada</option>
					</select>
					<i></i><span class="icon-place"></span>
				</div>
				<div class="element-select">
					<label class="title"></label>
					<div class="item-cont">
						<div class="large">
							<span>
								<select name="county" required="required">
									<option selected="selected" value="" disabled="disabled">--- Select a county ---</option>
									<option value="Adams">Adams</option>
									<option value="Alamosa">Alamosa</option>
									<option value="Arapahoe">Arapahoe</option>
									<option value="Archuleta">Archuleta</option>
									<option value="Baca">Baca</option>
									<option value="Bent">Bent</option>
									<option value="Boulder">Boulder</option>
									<option value="Broomfield">Broomfield</option>
									<option value="Chaffee">Chaffee</option>
									<option value="Cheyenne">Cheyenne</option>
									<option value="Clear Creek">Clear Creek</option>
									<option value="Conejos">Conejos</option>
									<option value="Costilla">Costilla</option>
									<option value="Crowley">Crowley</option>
									<option value="Custer">Custer</option>
									<option value="Delta">Delta</option>
									<option value="Denver">Denver</option>
									<option value="Dolores">Dolores</option>
									<option value="Douglas">Douglas</option>
									<option value="Eagle">Eagle</option>
									<option value="Elbert">Elbert</option>
									<option value="El Paso">El Paso</option>
									<option value="Fremont">Fremont</option>
									<option value="Garfield">Garfield</option>
									<option value="Gilpin">Gilpin</option>
									<option value="Grand">Grand</option>
									<option value="Gunnison">Gunnison</option>
									<option value="Hinsdale">Hinsdale</option>
									<option value="Huerfano">Huerfano</option>
									<option value="Jackson">Jackson</option>
									<option value="Jefferson">Jefferson</option>
									<option value="Kiowa">Kiowa</option>
									<option value="Kit Carson">Kit Carson</option>
									<option value="Lake">Lake</option>
									<option value="La Plata">La Plata</option>
									<option value="Larimer">Larimer</option>
									<option value="Las Animas">Las Animas</option>
									<option value="Lincoln">Lincoln</option>
									<option value="Logan">Logan</option>
									<option value="Mesa">Mesa</option>
									<option value="Mineral">Mineral</option>
									<option value="Moffat">Moffat</option>
									<option value="Montezuma">Montezuma</option>
									<option value="Montrose">Montrose</option>
									<option value="Morgan">Morgan</option>
									<option value="Otero">Otero</option>
									<option value="Ouray">Ouray</option>
									<option value="Park">Park</option>
									<option value="Phillips">Phillips</option>
									<option value="Pitkin">Pitkin</option>
									<option value="Prowers">Prowers</option>
									<option value="Pueblo">Pueblo</option>
									<option value="Rio Blanco">Rio Blanco</option>
									<option value="Rio Grande">Rio Grande</option>
									<option value="Routt">Routt</option>
									<option value="Saguache">Saguache</option>
									<option value="San Juan">San Juan</option>
									<option value="San Miguel">San Miguel</option>
									<option value="Sedgwick">Sedgwick</option>
									<option value="Summit">Summit</option>
									<option value="Teller">Teller</option>
									<option value="Washington">Washington</option>
									<option value="Weld">Weld</option>
									<option value="Yuma">Yuma</option>
								</select>
								<i></i><span class="icon-place"></span>
							</span>
						</div>
					</div>
				</div>		
			</div>
			<div class="element-input">
				<label class="title"><span class="required">*</span>Billing Name:</label>
				<div class="item-cont">
					<input class="large" type="text" name="billname" required="required"
						placeholder="Billing Name..." /><span class="icon-place"></span>
				</div>
			</div>
			<div class="element-address">
				<label class="title"><span class="required">*</span>Billing Address:</label><span class="addr1"><input placeholder="Street Address" type="text" name="billaddress" required="required"/><span class="icon-place"></span></span><span class="addr2"><input placeholder="Address Line 2" type="text" name="billaddress1" /><span class="icon-place"></span></span><span class="city"><input placeholder="City" type="text" name="billcity" /><span class="icon-place"></span></span><span class="state"><input placeholder="State / Province / Region" type="text" name="billstate" required="required"/><span class="icon-place"></span></span><span class="zip"><input placeholder="Postal / Zip Code" type="text" maxlength="15" name="billzip" required="required"/><span class="icon-place"></span></span><div class="country">
					<select name="billcountry" required="required">
						<option value="" disabled="disabled">--- Select a country ---</option>
						<option selected="selected" value="United States">United States</option>
						<option value="Canada">Canada</option>
					</select>
					<i></i><span class="icon-place"></span>
				</div>
				<div class="element-select">
					<label class="title"></label>
					<div class="item-cont">
						<div class="large">
							<span>
								<select name="billcounty" required="required">
									<option selected="selected" value="" disabled="disabled">--- Select a county ---</option>
									<option value="Adams">Adams</option>
									<option value="Alamosa">Alamosa</option>
									<option value="Arapahoe">Arapahoe</option>
									<option value="Archuleta">Archuleta</option>
									<option value="Baca">Baca</option>
									<option value="Bent">Bent</option>
									<option value="Boulder">Boulder</option>
									<option value="Broomfield">Broomfield</option>
									<option value="Chaffee">Chaffee</option>
									<option value="Cheyenne">Cheyenne</option>
									<option value="Clear Creek">Clear Creek</option>
									<option value="Conejos">Conejos</option>
									<option value="Costilla">Costilla</option>
									<option value="Crowley">Crowley</option>
									<option value="Custer">Custer</option>
									<option value="Delta">Delta</option>
									<option value="Denver">Denver</option>
									<option value="Dolores">Dolores</option>
									<option value="Douglas">Douglas</option>
									<option value="Eagle">Eagle</option>
									<option value="Elbert">Elbert</option>
									<option value="El Paso">El Paso</option>
									<option value="Fremont">Fremont</option>
									<option value="Garfield">Garfield</option>
									<option value="Gilpin">Gilpin</option>
									<option value="Grand">Grand</option>
									<option value="Gunnison">Gunnison</option>
									<option value="Hinsdale">Hinsdale</option>
									<option value="Huerfano">Huerfano</option>
									<option value="Jackson">Jackson</option>
									<option value="Jefferson">Jefferson</option>
									<option value="Kiowa">Kiowa</option>
									<option value="Kit Carson">Kit Carson</option>
									<option value="Lake">Lake</option>
									<option value="La Plata">La Plata</option>
									<option value="Larimer">Larimer</option>
									<option value="Las Animas">Las Animas</option>
									<option value="Lincoln">Lincoln</option>
									<option value="Logan">Logan</option>
									<option value="Mesa">Mesa</option>
									<option value="Mineral">Mineral</option>
									<option value="Moffat">Moffat</option>
									<option value="Montezuma">Montezuma</option>
									<option value="Montrose">Montrose</option>
									<option value="Morgan">Morgan</option>
									<option value="Otero">Otero</option>
									<option value="Ouray">Ouray</option>
									<option value="Park">Park</option>
									<option value="Phillips">Phillips</option>
									<option value="Pitkin">Pitkin</option>
									<option value="Prowers">Prowers</option>
									<option value="Pueblo">Pueblo</option>
									<option value="Rio Blanco">Rio Blanco</option>
									<option value="Rio Grande">Rio Grande</option>
									<option value="Routt">Routt</option>
									<option value="Saguache">Saguache</option>
									<option value="San Juan">San Juan</option>
									<option value="San Miguel">San Miguel</option>
									<option value="Sedgwick">Sedgwick</option>
									<option value="Summit">Summit</option>
									<option value="Teller">Teller</option>
									<option value="Washington">Washington</option>
									<option value="Weld">Weld</option>
									<option value="Yuma">Yuma</option>
								</select>
								<i></i><span class="icon-place"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="element-name">
				<label class="title"><span class="required">*</span>Business Hours Contact
				Name:</label><span class="nameFirst"><input
					placeholder="First Name..." type="text" size="8" name="primaryNameFirst"
					required="required" /><span class="icon-place"></span></span><span
					class="nameLast"><input placeholder="Last Name..."
					type="text" size="14" name="primaryNameLast" required="required" /><span
					class="icon-place"></span></span>
			</div>
			<div class="element-phone">
				<label class="title"><span class="required">*</span>Business Hours Contact
				Phone Number:</label>
				<div class="item-cont">
					<input class="large" type="tel" oninvalid="this.setCustomValidity('Phone number must be entered in format ###-###-####')"
						pattern="\d{3}[\-]\d{3}[\-]\d{4}" maxlength="24" name="primaryPhone"
						required="required" placeholder="Phone Number..." value="" /><span
						class="icon-place"></span>
				</div>
			</div>
			<div class="element-email">
				<label class="title"><span class="required">*</span>Business Hours Contact
				Email:</label>
				<div class="item-cont">
					<input class="large" type="email" name="primaryEmail" value=""
						required="required" placeholder="Email..." /><span
						class="icon-place"></span>
				</div>
			</div>
			<div class="element-name">
				<label class="title"><span class="required">*</span>After Hours Contact
				Name:</label><span class="nameFirst"><input
					placeholder="First Name..." type="text" size="8" name="secondaryNameFirst"
					required="required" /><span class="icon-place"></span></span><span
					class="nameLast"><input placeholder="Last Name..."
					type="text" size="14" name="secondaryNameLast" required="required" /><span
					class="icon-place"></span></span>
			</div>
			<div class="element-phone">
				<label class="title"><span class="required">*</span>After Hours Contact
				Phone Number:</label>
				<div class="item-cont">
					<input class="large" type="tel" oninvalid="this.setCustomValidity('Phone number must be entered in format ###-###-####')"
						pattern="\d{3}[\-]\d{3}[\-]\d{4}" maxlength="24" name="secondaryPhone"
						required="required" placeholder="Phone Number..." value="" /><span
						class="icon-place"></span>
				</div>
			</div>
			<div class="element-email">
				<label class="title"><span class="required">*</span>After Hours Contact
				Email:</label>
				<div class="item-cont">
					<input class="large" type="email" name="secondaryEmail" value=""
						required="required" placeholder="Email..." /><span
						class="icon-place"></span>
				</div>
			</div>
			<div class="element-checkbox">
				<label class="title"><span class="required">*</span>Services Provided:</label>
				<div class="column column1">
					@for(service <- servicesList) {
					    <label><input type="checkbox" class="selectServices" name="selectServices" id="selectServices" value="@service.name"><span>@service.name</span></label>
					}
				</div>
				
				<input type="hidden" name="services" id="services">
	
				<div id="otherService" class="element-input">
					<label class="title"><span class="required">*</span>Other:</label>
					<div class="item-cont">
						<input class="large" type="text" name="servicesOther" 
							placeholder="Other..." /><span class="icon-place"></span>
					</div>
				</div>
				<span class="clearfix"></span>
			</div>
			<div class="element-input">
				@if(profileForm.hasGlobalErrors) {
					<span class="errorMessageDisplay" style="color: #d9534f;">@profileForm.globalError.message</span>
				}
			</div>
			<div class="submit">
				<input type="submit" value="Submit" /> <a href="/user"
					class="buttonCancel">@Messages("goback")</a>
			</div>
			<!-- This is needed for bottom shadow to appear... -->
			<div></div>
		</form>
	</section>
}